/**/

 body {
    background: #fef5e5;
}

.page__background {
    background: #fef5e5;
}

.navigation-bar {
  font-family: -apple-system, 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
  font-size: 17px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  white-space: nowrap;
  overflow: hidden;
  word-spacing: 0;
  padding: 0;
  margin: 0;
  font: inherit;
  color: inherit;
  background: transparent;
  border: none;
  line-height: normal;
  cursor: default;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  z-index: 2;
  display: block;
  height: 44px;
  padding-left: 0;
  padding-right: 0;
  background: #fff;
  color: #1f1f21;
  -webkit-box-shadow: none;
  box-shadow: none;
  font-weight: 400;
  width: 100%;
  white-space: nowrap;
  border-bottom: none;
  -webkit-background-size: 100% 1px;
  background-size: 100% 1px;
  background-repeat: no-repeat;
  background-position: bottom;
  background-image: -webkit-linear-gradient(90deg, #bbb, #bbb 100%);
  background-image: -moz-linear-gradient(90deg, #bbb, #bbb 100%);
  background-image: -o-linear-gradient(90deg, #bbb, #bbb 100%);
  background-image: linear-gradient(0deg, #bbb, #bbb 100%);
}


.button {
  background-color: rgba(0, 0, 0, 0);
  -webkit-box-shadow: 0 2px 2px 0 rgba(0,0,0,0.0), 0 1px 5px 0 rgba(0,0,0,0.0), 0 3px 1px -2px rgba(0,0,0,0.0);
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.0), 0 1px 5px 0 rgba(0,0,0,0.0), 0 3px 1px -2px rgba(0,0,0,0.0);
 }

.button:active {
  background-color: rgba(0, 0, 0, 0);
  -webkit-box-shadow: 0 2px 2px 0 rgba(0,0,0,0.0), 0 1px 5px 0 rgba(0,0,0,0.0), 0 3px 1px -2px rgba(0,0,0,0.0);
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.0), 0 1px 5px 0 rgba(0,0,0,0.0), 0 3px 1px -2px rgba(0,0,0,0.0);
 }



.css3button {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2.5em;
    color: #ffffff;
    //padding: 10px 20px;
    background: -moz-linear-gradient(
        top,
		#ffffff 0%,
		#ffffff 50%,
		#d6d6d6);
	background: -webkit-gradient(
		linear, left top, left bottom,
		from(#8fff8f),
		color-stop(0.50, #8fff6f),
		to(#4fff4f));
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 0.5rem;
	border: 3px solid #11ba1c;
	-moz-box-shadow:
		0px 1px 3px rgba(000,000,000,0.5),
		inset 0px 0px 3px rgba(255,255,255,1);
	-webkit-box-shadow:
		0px 1px 3px rgba(000,000,000,0.5),
		inset 0px 0px 3px rgba(255,255,255,1);
	box-shadow:
		0px 1px 3px rgba(000,000,000,0.5),
		inset 0px 0px 3px rgba(255,255,255,1);
	text-shadow:
		0px -1px 0px rgba(000,000,000,0.4),
		0px 1px 0px rgba(255,255,255,1);
}




.css3item {
    font-family: Arial, Helvetica, sans-serif;
	font-size: 1.2rem;
	color: #ffffff;
	padding: 0.2rem 1.0rem;
	background: -moz-linear-gradient(
		top,
		#32a2c1 0%,
		#1a94b9);
	background: -webkit-gradient(
		linear, left top, left bottom,
		from(#32a2c1),
		to(#1a94b9));
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	border: 0px solid #949494;
	-moz-box-shadow:
		0px 0px 3px rgba(000,000,000,0.3),
		inset 0px 0px 0px rgba(255,255,255,0);
	-webkit-box-shadow:
		0px 0px 3px rgba(000,000,000,0.3),
		inset 0px 0px 0px rgba(255,255,255,0);
	box-shadow:
		0px 0px 3px rgba(000,000,000,0.3),
		inset 0px 0px 0px rgba(255,255,255,0);
	text-shadow:
		0px 0px 0px rgba(000,000,000,0),
		0px 0px 0px rgba(255,255,255,0);
}


h1{
    position: relative;
    font-size: 1.6em;
    color: #ffffff;
	background-color: #00ac7a;
    font-weight: bold;
    margin: 0 0 0.8em;
    padding: 0.6em 0.6em 0.6em 2.8em;
    text-align: center;
/*    border-bottom: 3px solid #B92A2C; */

}
/*
h1:before{
    content: "□";
    font-size: 160%;
    position: absolute;
    color: #ff6b6e;
    top: -0.4em;
    left: 0.4em;
    height: 12px;
    width: 12px;
}
 
h1:after{
    content: "□";
    font-size: 160%;
    position: absolute;
    color: #B92A2C;
    top:  -0.2em;
    left: 0.2em;
    height: 12px;
    width: 12px;
}
*/

h2{
    position: relative;
    font-size: 1.8em;
    font-weight: bold;
    margin: 0.2em 0.2em 0.5em;
    padding: 0.3em 0.3em 0.3em 0.3em;
}



h3 {
/* box-shadow */
box-shadow:3px 4px 9px -4px #b1843e;
-moz-box-shadow:3px 4px 9px -4px #b1843e;
-webkit-box-shadow:3px 4px 9px -4px #b1843e;


/* border-radius */
border-radius:6px;
-moz-border-radius:6px;
-webkit-border-radius:6px;

/* border */
border:1px solid #cccccc;
}


h3 {
    margin: 45px 0px 35px 0px;
    padding: 12px 10px;
    background: #179C17;
    color: #ffffff;
}



/* box-shadow */
.eq_desc {
    position: relative;
    bottom:0px;
    font-size: 1.8em;
    /*! width：100%; */
     background-repeat: no-repeat;
     background-image: url('../images/scene_description.png');
     background-size: 100% ;
     height: 260px;
     padding: 8px ;
//   margin: 0px;

}


/* box-shadow */
.eq_desc .scene_index_top_button {
    position:absolute;
    margin-right: 3px;
    top: 240px;
    right: 20px;
    width:230px;
    /* border */
    padding-top: 22px;
    padding-right: 22px;
    padding-bottom: 22px;
    padding-left: 22px;
}

.eq_desc p {
    margin-right: 3px;
    top: 0px;
    left: 30px;
    text-align: left;
    padding-top: 8px;
    padding-right: 16px;
    padding-bottom: 20px;
    padding-left: 44px;
}

/* 操作説明 */
.opration_view {
    position: relative;
/*    height: 0; */
    width:100%;
    height:650px;
	margin: 0 auto;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
}


.eq_home {
    position:absolute;
	width:94%;
    margin: 0px;
    top: 0px;
    left: 0px;
    padding: 0px;
    z-index: 1;
}

.eq_frame  {
    position:absolute;
	width:94%;
    margin: 0px;
    top: 0px;
    left: 0px;
    padding: 0px;
    z-index: 2;
}


/* シナリオ画面 */
.scene_view {
    position: relative;
/*    height: 0; */
    /* width: 30%; */
    /* height: 70%; */
    max-width: 100%;
    max-height:100%;
    top: 5%;
    left: 0%;
    text-align: center;
    margin: 0 auto;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
}



.scene_frame  {
    position:absolute;
	width:80%;
    margin: 0px;
    top: 5%;
    left: 8%;
    padding: 0px;
    z-index: 1;
}

.scene_top_button {
    position: absolute;
    bottom: 128px;
    right: -89px;
    padding-right: 8px;
    padding-bottom: 22px;
    padding-left: 8px;
    /* color: #d81414; */
}


}


/*
　動画
*/

.movie_field｛
    display:block;
    width: 100%;
/*    height:100%; */
    max-width: 100%;
    max-height:100%;

｝

video {
    max-width: 100%;
    max-height:100%;
}


// scene
.scene_field {
 width:auto; 
 height:20%;
}

/* 縮小サイズ */
.small_view {
/*
    top: 9%;
    left: 20%;
*/
    width: 25%;
}
/* シナリオ　家電　点滅 */
.scenario-aircom{
	display:none;
}

.scenario-cd {
	display:none;
}
.scenario-cur{
	display:none;

}
.scenario-kasitu{
	display:none;

}
.scenario-shomei{
	display:none;

}
.scenario-tv{
	display:none;
}

.scenario-kyuji{
	display:none;
}

/* 注意*/
.notice{
    font-size: 0.6em;
    color: #ff0000;
    text-align: right;
    line-height: 0.2em;
}

.op_index{
    bottom: 0%;
}
/*
 CSS3 アニメーション
*/

@keyframes blink {
  0% { opacity: 0.0; }
  30% { opacity: 0.2; }
  50% { opacity: 0.3; }
  70% { opacity: 0.5; }
  100% { opacity: 1.0; }

}
@-webkit-keyframes blink {
  0% { opacity: 0.0; }
  30% { opacity: 0.2; }
  50% { opacity: 0.3; }
  70% { opacity: 0.5; }
  100% { opacity: 1.0; }

}

/*
 点滅する
*/

.blink_anime {
  animation: blink 0.5s infinite;
  -webkit-animation: blink 0.5s step-end infinite;
}

/* fadein */
.home_fadein {
    animation: fadeIn 1.8s ease 0s 1 normal;
    -webkit-animation: fadeIn 1.8s ease 0s 1 normal;
}


body {
    animation: fadeIn 0.3s ease 0s 1 normal;
    -webkit-animation: fadeIn 0.3s ease 0s 1 normal;
}

@keyframes fadeIn {
    0% {opacity: 0}
    100% {opacity: 1}
}

@-webkit-keyframes fadeIn {
    0% {opacity: 0}
    100% {opacity: 1}
}


